---
---

<div id="bio">
  <h2 class="font-bold text-xl">Bio</h2>
  <ul class="mt-3 px-4">
    <li class="mt-2">
      <div class="flex items-center gap-6">
        <p class="font-bold">1999</p>
        <p>Born in Paris, France.</p>
      </div>
    </li>
    <li class="mt-6">
      <div class="flex gap-6 items-center">
        <div class="flex flex-col">
          <p class="font-bold">2017</p>
          <p class="font-bold -mt-2 text-center">-</p>
          <p class="font-bold -mt-2">2019</p>
        </div>
        <p>
          Completed a BTEC in Computer Science at Université
          Paris-Est-Marne-la-Vallée
        </p>
      </div>
    </li>
    <li class="mt-6">
      <div class="flex gap-6">
        <div class="flex flex-col items-center">
          <p class="font-bold">2019</p>
          <p class="font-bold -mt-2 text-center">-</p>
          <p class="font-bold -mt-2">2022</p>
        </div>
        <p class="">
          Completed the Master&apos;s Program in Computer Science Engineering at
          ESIEE Paris / Working as an apprentice at{" "}
          <a
            href="https://tcheker.fr/"
            class="font-bold text-secondary-light dark:text-secondary uppercase"
          >
            tcheker
          </a>
        </p>
      </div>
    </li>
    <li class="mt-6">
      <div class="flex gap-6 items-center">
        <div class="flex flex-col">
          <p class="font-bold">2022</p>
          <p class="font-bold -mt-2 text-center">-</p>
          <p class="font-bold -mt-2">Now</p>
        </div>
        <p class="">
          Currently the CTO at{" "}
          <a
            href="https://tcheker.fr/"
            class="font-bold text-secondary-light dark:text-secondary uppercase"
          >
            tcheker
          </a>
        </p>
      </div>
    </li>
  </ul>
</div>
