---
---

<div id="description" class="md:mt-0 mt-4">
  <h2 class="font-bold text-xl">Description</h2>
  <p class="mt-3 md:text-left text-center">
    &emsp;&nbsp; I am a full-stack developer based in Paris with a passion for
    building digital solutions and coding. I am eager to learn new things, and
    already taught myself a lot of technologies / frameworks. I am always open
    to new opportunities in France or abroad. Currently, I am working as the
    Chief Technical Officer of a startup called TCHEKER. I also recently
    published my first personal project called Sinta, a mobile app made for
    couples.
  </p>
</div>
