---
import Angular from "@components/icons/skills/Angular.astro";
import AstroIcon from "@components/icons/skills/AstroIcon.astro";
import AstroIconLight from "@components/icons/skills/AstroIconLight.astro";
import C from "@components/icons/skills/C.astro";
import Chakra from "@components/icons/skills/Chakra.astro";
import Csharp from "@components/icons/skills/Csharp.astro";
import Dotnet from "@components/icons/skills/Dotnet.astro";
import Express from "@components/icons/skills/Express.astro";
import ExpressLight from "@components/icons/skills/ExpressLight.astro";
import Flutter from "@components/icons/skills/Flutter.astro";
import Git from "@components/icons/skills/Git.astro";
import Go from "@components/icons/skills/Go.astro";
import Graphql from "@components/icons/skills/Graphql.astro";
import Java from "@components/icons/skills/Java.astro";
import Mongo from "@components/icons/skills/Mongo.astro";
import Mui from "@components/icons/skills/Mui.astro";
import Mysql from "@components/icons/skills/Mysql.astro";
import Nest from "@components/icons/skills/Nest.astro";
import Next from "@components/icons/skills/Next.astro";
import NextLight from "@components/icons/skills/NextLight.astro";
import Node from "@components/icons/skills/Node.astro";
import Nuxt from "@components/icons/skills/Nuxt.astro";
import Php from "@components/icons/skills/Php.astro";
import Postgres from "@components/icons/skills/Postgres.astro";
import Prisma from "@components/icons/skills/Prisma.astro";
import Python from "@components/icons/skills/Python.astro";
import React from "@components/icons/skills/React.astro";
import Reactnative from "@components/icons/skills/Reactnative.astro";
import Redux from "@components/icons/skills/Redux.astro";
import Rust from "@components/icons/skills/Rust.astro";
import RustLight from "@components/icons/skills/RustLight.astro";
import Supabase from "@components/icons/skills/Supabase.astro";
import Svelte from "@components/icons/skills/Svelte.astro";
import Tailwind from "@components/icons/skills/Tailwind.astro";
import Trpc from "@components/icons/skills/Trpc.astro";
import Typescript from "@components/icons/skills/Typescript.astro";
import Vite from "@components/icons/skills/Vite.astro";
import Vue from "@components/icons/skills/Vue.astro";
---

<div id="skills" class="md:mt-0 mt-4">
  <h2 class="font-bold text-xl">Skills</h2>
  <div class="flex flex-col gap-10 mt-10 px-5">
    <div>
      <h3 class="font-semibold mb-4">
        Things I use / used at a professional level
      </h3>
      <div class="flex items-center flex-wrap gap-2 px-4">
        <div class="w-12" title="Typescript"><Typescript /></div>
        <div class="w-12" title="NestJS"><Nest /></div>
        <div class="w-12 dark:block hidden" title="NextJS">
          <Next />
        </div>
        <div class="w-12 dark:hidden block" title="NextJS">
          <NextLight />
        </div>
        <div class="w-12" title="React"><React /></div>
        <div class="w-12" title="React Native"><Reactnative /></div>
        <div class="w-12" title="TRPC"><Trpc /></div>
        <div class="w-12" title="Prisma"><Prisma /></div>
        <div class="w-12" title="TailwindCSS"><Tailwind /></div>
        <div class="w-12" title="ChakraUI"><Chakra /></div>
        <div class="w-12" title="MaterialUI"><Mui /></div>
        <div class="w-12" title="NodeJS"><Node /></div>
        <div class="w-12" title="MySQL"><Mysql /></div>
        <div class="w-12 dark:block hidden" title="Express">
          <Express />
        </div>
        <div class="w-12 dark:hidden block" title="Express">
          <ExpressLight />
        </div>
        <div class="w-12" title="PostgreSQL"><Postgres /></div>
        <div class="w-12" title="Git"><Git /></div>
        <div class="w-12" title="Redux"><Redux /></div>
        <div class="w-12" title="Vite"><Vite /></div>
      </div>
    </div>
    <div>
      <h3 class="font-semibold mb-4">
        Things I played around with / am comfortable with
      </h3>
      <div class="flex items-center flex-wrap gap-2 px-4">
        <div class="w-12" title="Svelte"><Svelte /></div>
        <div class="w-12" title="Vue"><Vue /></div>
        <div class="w-12" title="Nuxt"><Nuxt /></div>
        <div class="w-12 dark:block hidden" title="Astro"><AstroIcon /></div>
        <div class="w-12 dark:hidden block" title="Astro">
          <AstroIconLight />
        </div>
        <div class="w-12" title="MongoDB"><Mongo /></div>
        <div class="w-12" title="GraphQL"><Graphql /></div>
        <div class="w-12" title="Angular"><Angular /></div>
        <div class="w-12" title="C"><C /></div>
        <div class="w-12" title="C#"><Csharp /></div>
        <div class="w-12" title="PHP"><Php /></div>
        <div class="w-12" title="Python"><Python /></div>
        <div class="w-12" title="Java"><Java /></div>
        <div class="w-12" title="Supabase"><Supabase /></div>
      </div>
    </div>
    <div>
      <h3 class="font-semibold mb-4">
        Things I am / plan on learning this year
      </h3>
      <div class="flex items-center flex-wrap gap-2 px-4">
        <div class="w-12 dark:block hidden" title="Rust">
          <Rust />
        </div>
        <div class="w-12 dark:hidden block" title="Rust">
          <RustLight />
        </div>
        <div class="w-12" title="Flutter"><Flutter /></div>
        <div class="w-12" title="Go"><Go /></div>
        <div class="w-12" title=".NET"><Dotnet /></div>
      </div>
    </div>
  </div>
</div>
