---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Antonin PIRE">
  <main
    class="max-w-3xl mx-auto text-text-light dark:text-white md:px-0 px-3 sm:h-[77vh] h-[74vh]"
  >
    <div class="mx-auto max-w-xl flex justify-center items-center h-full">
      <div class="flex flex-col gap-3 text-center">
        <h1 class="text-7xl font-semibold text-primary-light dark:text-primary">
          404
        </h1>
        <p>¯\_(ツ)_/¯</p>
        <h3 class="text-3xl">Page Not Found</h3>
        <a
          href="/"
          class="underline decoration-dotted dark:decoration-white decoration-text-light underline-offset-8 text-xl hover:decoration-primary-light dark:hover:decoration-primary hover:text-primary-light dark:hover:text-primary"
          >Go back home</a
        >
      </div>
    </div>
  </main>
</Layout>
