---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex items-center justify-center h-screen">
    <h1 class="text-white text-5xl font-bold">Hello, this is my Portfolio.</h1>
  </main>
</Layout>
