---
export interface Props {
  ariaHidden?: boolean;
}
const { ariaHidden = true } = Astro.props;
---

<div class={`max-w-3xl mx-auto w-full px-5 md:px-0`}>
  <hr
    class="h-[1px] border-primary-light/50 dark:border-primary/50"
    aria-hidden={ariaHidden}
  />
</div>
