---
import me from "@assets/me.png";
import Calendar from "@components/icons/cv/Calendar.astro";
import Code from "@components/icons/cv/Code.astro";
import Github from "@components/icons/cv/Github.astro";
import Mail from "@components/icons/cv/Mail.astro";
import Phone from "@components/icons/cv/Phone.astro";
import Pin from "@components/icons/cv/Pin.astro";
import CV from "@layouts/CV.astro";
import { Image } from "astro:assets";
---

<CV title="Antonin PIRE - CV (fr)">
  <div class="w-screen h-screen flex flex-col">
    <div class="h-[20%] w-full bg-white px-[6%] flex items-center">
      <div class="w-[50%] flex flex-col">
        <h1 class="text-4xl font-sono-semibold text-gray-800">Antonin Pire</h1>
        <h2 class="font-sono-bold text-xl text-gray-500">
          Développeur web fullstack
        </h2>
        <div class="mt-4 flex flex-col gap-y-2">
          <div class="">
            <div class="flex flex-row items-center gap-3">
              <div
                class="flex flex-row items-center text-gray-500 text-xs gap-x-1"
              >
                <Calendar />
                <p>21-12-1999</p>
              </div>
              <div
                class="flex flex-row items-center text-gray-500 text-xs gap-x-1"
              >
                <Pin />
                <p>Paris, France</p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="flex flex-row items-center gap-3">
              <div
                class="flex flex-row items-center text-gray-500 text-xs gap-x-1"
              >
                <Phone />
                <p>+33780019744</p>
              </div>
              <div
                class="flex flex-row items-center text-gray-500 text-xs gap-x-1"
              >
                <Mail />
                <p>antonin.pire@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="flex flex-row items-center gap-3">
              <div
                class="flex flex-row items-center text-gray-500 text-xs gap-x-1"
              >
                <Code />
                <a
                  href="https://antonin.dev"
                  class="font-sono-semibold text-blue-500"
                >
                  https://antonin.dev
                </a>
              </div>
              <div
                class="flex flex-row items-center text-gray-500 text-xs gap-x-1"
              >
                <Github />
                <a
                  href="https://github.com/antoninpire"
                  class="font-sono-semibold text-blue-500"
                >
                  https://github.com/antoninpire
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[50%] flex items-center justify-end">
        <div
          class="overflow-hidden rounded-full relative border-2 border-ternary"
        >
          <Image src={me.src} alt="Me" quality={100} width={128} height={128} />
        </div>
      </div>
    </div>
    <div
      class="h-[80%] w-full bg-background text-white border-t-2 border-ternary flex px-[6%] py-[5%]"
    >
      <div class="w-[50%] h-full flex flex-col">
        {/* EDUCATION */}
        <div class="flex flex-col">
          <h2 class="text-ternary font-sono-semibold text-xl">Formation</h2>

          <div class="flex flex-col mt-4">
            <h3 class="text-base font-sono-semibold">ESIEE PARIS</h3>
            <h3 class="text-[15px] leading-[1.375rem] font-sono-semibold">
              Mastère en ingénieurie informatique
            </h3>
            <div class="flex items-center gap-x-2">
              <div class="flex items-center text-sm gap-x-1">
                <Calendar />
                <p>2019 - 2022</p>
              </div>
              <div class="flex items-center text-sm gap-x-1">
                <Pin />
                <p>Champs-Sur-Marnes, France</p>
              </div>
            </div>
            <div class="mt-1">
              <ul class="list-disc text-sm px-8">
                <li>3 années en apprentissage chez TCHEKER</li>
                <li>TOEIC 975 / 990</li>
                <li>Cours en IA, Machine Learning and 3D</li>
              </ul>
            </div>
          </div>

          <div class="flex flex-col mt-4">
            <h3 class="text-base font-sono-semibold">IUT Marne-la-Vallée</h3>
            <h3 class="text-[15px] leading-[1.375rem] font-sono-semibold">
              DUT Informatique
            </h3>
            <div class="flex items-center gap-x-2">
              <div class="flex items-center text-sm gap-x-1">
                <Calendar />
                <p>2017 - 2019</p>
              </div>
              <div class="flex items-center text-sm gap-x-1">
                <Pin />
                <p>Champs-Sur-Marnes, France</p>
              </div>
            </div>
            <div class="mt-1">
              <ul class="list-disc text-sm px-8">
                <li>Stage de 4 mois chez TCHEKER</li>
                <li>
                  Apprentissage des langages C, Python, Javascript et Android
                </li>
                <li>Cours de méthodologies, management et communication</li>
              </ul>
            </div>
          </div>
        </div>
        {/* END EDUCATION */}

        {/* SKILLS */}
        <div class="flex flex-col mt-6">
          <h2 class="text-ternary font-sono-semibold text-xl">Compétences</h2>
          <div class="flex items-center gap-x-2 mt-2">
            <p
              class="uppercase text-sm font-sono-bold bg-[rgba(80,114,100,0.3)] py-[1px] px-[6px] rounded text-[#9AE6B4] whitespace-nowrap"
            >
              WEB FRONT
            </p>
            <div>
              <p>NextJS / ReactJS / AngularJS</p>
              <p>Typescript</p>
            </div>
          </div>

          <div class="flex items-center gap-x-2 mt-2">
            <p
              class="uppercase text-sm font-sono-bold bg-[rgba(80,114,100,0.3)] py-[1px] px-[6px] rounded text-[#9AE6B4] whitespace-nowrap"
            >
              WEB BACK
            </p>
            <div>
              <p>NodeJS / NestJS / ExpressJS</p>
              <p>PHP / Socket.IO / Typescript</p>
            </div>
          </div>

          <div class="flex items-center gap-x-2 mt-2">
            <p
              class="uppercase text-sm font-sono-bold bg-[rgba(80,114,100,0.3)] py-[1px] px-[6px] rounded text-[#9AE6B4]"
            >
              MOBILE
            </p>
            <p class="">React Native, Android native</p>
          </div>

          <div class="flex items-center gap-x-2 mt-3">
            <p
              class="uppercase text-sm font-sono-bold bg-[rgba(80,114,100,0.3)] py-[1px] px-[6px] rounded text-[#9AE6B4]"
            >
              LOGOCIEL
            </p>
            <p class="">C / C++ / C# / Java / Python</p>
          </div>

          <div class="flex items-center gap-x-2 mt-2">
            <p
              class="uppercase text-sm font-sono-bold bg-[rgba(80,114,100,0.3)] py-[1px] px-[6px] rounded text-[#9AE6B4] whitespace-nowrap"
            >
              DONNÉES
            </p>
            <div>
              <p class="">PostgresSQL / MySQL / MongoDB</p>
              <p>SQL Server</p>
            </div>
          </div>

          <div class="flex items-center gap-x-2 mt-2">
            <p
              class="uppercase text-sm font-sono-bold bg-[rgba(80,114,100,0.3)] py-[1px] px-[6px] rounded text-[#9AE6B4]"
            >
              MÉTHODOLOGIES
            </p>
            <p class="">SCRUM / Agile / V Cycle</p>
          </div>
        </div>

        {/* END SKILLS */}

        {/* LANGUAGES */}

        <div class="flex flex-col mt-6">
          <h2 class="text-ternary font-sono-semibold text-xl">Langages</h2>
          <div class="w-full flex flex-col px-5">
            <div>
              <div class="flex items-center gap-3 mt-4">
                <p class="font-sono-semibold text-sm">Français</p>
                <p class="font-sono-light text-sm">langue maternelle</p>
              </div>

              <div class="flex items-center gap-3">
                <p class="font-sono-semibold text-sm">Anglais</p>
                <p class="font-sono-light text-sm">Niveau C1</p>
              </div>

              <div class="flex items-center gap-3">
                <p class="font-sono-semibold text-sm">Allemand</p>
                <p class="font-sono-light text-sm">Niveau B1</p>
              </div>
            </div>
          </div>
        </div>

        {/* END LANGUAGES */}
      </div>

      <div class="w-[50%] h-full flex flex-col">
        {/* EXPERIENCE */}
        <div class="flex flex-col">
          <h2 class="text-ternary font-sono-semibold text-xl">
            Expériences professionnelles
          </h2>

          <div class="flex flex-col mt-2">
            <h3 class="text-base font-sono-semibold">TCHEKER</h3>
            <h3 class="text-[15px] leading-[1.375rem] font-sono-semibold ml-1">
              CTO
            </h3>
            <div class="gap-x-2 flex items-center">
              <div class="flex items-center text-sm gap-x-1">
                <Calendar />
                <p>Sep. 2022 - Présent</p>
              </div>
              <div class="flex items-center text-sm gap-x-1">
                <Pin />
                <p>Courbevoie, France</p>
              </div>
            </div>
            <div class="mt-1">
              <ul class="list-disc text-sm px-8">
                <li>Management d&apos;une équipe de 5 personnes</li>
                <li>Gestion de clients et collaborations</li>
                <li>Management d&apos;un projet de machine learning</li>
              </ul>
            </div>
          </div>

          <div class="flex flex-col mt-4">
            <h3 class="text-base font-sono-semibold">TCHEKER</h3>
            <h3 class="text-[15px] leading-[1.375rem] font-sono-semibold ml-1">
              Apprenti développeur web fullstack
            </h3>
            <div class="flex items-center gap-x-2 mt-1">
              <div class="flex items-center text-sm gap-x-1">
                <Calendar />
                <p>2019 - 2022</p>
              </div>
              <div class="flex items-center text-sm gap-x-1">
                <Pin />
                <p>Courbevoie, France</p>
              </div>
            </div>
            <div class="mt-1">
              <ul class="list-disc text-sm px-8">
                <li>Management d&apos;une team de 2 developpeurs</li>
                <li>
                  Lead développeur sur un projet d&apos;application mobile pour
                  les &quot;tchekers&quot;
                </li>
                <li>
                  Lead développeur sur un projet de back-office interne et
                  client
                </li>
                <li>
                  Lead développeur sur un projet de REST API pour gérer le
                  back-end
                </li>
              </ul>
            </div>
          </div>
        </div>
        {/* END EXPERIENCE */}

        {/* PROJECTS */}
        <div class="flex flex-col mt-5">
          <h2 class="text-ternary font-sono-semibold text-xl">Projets</h2>
          <div class="flex flex-col mt-2">
            <h3 class="text-base font-sono-semibold">Sinta</h3>
            <h3 class="text-sm font-medium indent-3 mt-1">
              Une application mobile pour couples, où chacun peut interagir avec
              l&apos;autre, stocker divers médias, gérer un calendrier partagé,
              placer des activités sur une carte commune, s&apos;envoyer des
              notifications, etc.
            </h3>
            <div class="flex items-center gap-x-1 mt-1 flex-wrap gap-y-1">
              <p
                class="uppercase text-sm font-sono-bold bg-[rgba(80,114,100,0.3)] py-[1px] px-[6px] rounded text-[#9AE6B4] whitespace-nowrap"
              >
                REACT NATIVE
              </p>
              <p
                class="uppercase text-sm font-sono-bold bg-[rgba(80,114,100,0.3)] py-[1px] px-[6px] rounded text-[#9AE6B4]"
              >
                NODEJS
              </p>
              <p
                class="uppercase text-sm font-sono-bold bg-[rgba(80,114,100,0.3)] py-[1px] px-[6px] rounded text-[#9AE6B4]"
              >
                SOCKET.IO
              </p>
            </div>
            <div class="flex items-center gap-x-1 mt-1 flex-wrap gap-y-1">
              <p
                class="uppercase text-sm font-sono-bold bg-[rgba(80,114,100,0.3)] py-[1px] px-[6px] rounded text-[#9AE6B4]"
              >
                POSTGRES
              </p>
              <p
                class="uppercase text-sm font-sono-bold bg-[rgba(80,114,100,0.3)] py-[1px] px-[6px] rounded text-[#9AE6B4]"
              >
                NEXTJS
              </p>
            </div>
          </div>
          <div class="flex flex-col mt-5">
            <h3 class="text-base font-sono-semibold">Natflix</h3>
            <h3 class="text-sm font-medium indent-3 mt-1">
              Un clone netflix qui implémente 3 algorithmes de machine learning
              pour la mise en place d&apos;un système de suggestions et
              recommandations basé sur les notes des utilisateurs.
            </h3>
            <div class="flex items-center gap-x-1 mt-1 flex-wrap gap-y-1">
              <p
                class="uppercase text-sm font-sono-bold bg-[rgba(80,114,100,0.3)] py-[1px] px-[6px] rounded text-[#9AE6B4] whitespace-nowrap"
              >
                ReactJS
              </p>
              <p
                class="uppercase text-sm font-sono-bold bg-[rgba(80,114,100,0.3)] py-[1px] px-[6px] rounded text-[#9AE6B4]"
              >
                NODEJS
              </p>
              <p
                class="uppercase text-sm font-sono-bold bg-[rgba(80,114,100,0.3)] py-[1px] px-[6px] rounded text-[#9AE6B4]"
              >
                MYSQL
              </p>
              <p
                class="uppercase text-sm font-sono-bold bg-[rgba(80,114,100,0.3)] py-[1px] px-[6px] rounded text-[#9AE6B4]"
              >
                MACHINE LEARNING
              </p>
            </div>
          </div>
        </div>

        {/* END PROJECTS */}
      </div>
    </div>
  </div>
</CV>
